Edit Team here: change name, edit players, choose captian, upload image
<br>
EDIT TEAM NAME:
<%= best_in_place @team, :name %>
<br>
<br>

<% @players.each do |pl|%>
  <p>
    <%= best_in_place pl, :name %>
    <%= best_in_place pl, :email, place_holder: "Player Email" %>
  </p>
<% end %>

<%= javascript_tag do %>
  $(document).ready(function() {
    /* Activating Best In Place */
    jQuery(".best_in_place").best_in_place();
  });
<% end %>
