<!-- use jquery to restrict admin from adding more teams than league allows -->
<!-- if no teams -->
<% if @teams.blank? %>
  <p>
    Looks like you haven't added any teams. Get started by clicking below!
    <%= link_to('Add Team', new_team_path) %>
  </p>
<% else %>
  <% @team.each do |tm|%>
    <p>
      <%= tm.name  %>
    </p>
  <% end %>
<% end %>
<!-- else show edit team -->
