<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>All League Dues Have Been Paid!!</h1>
    <p>The league dues for <strong><%= @league.name %></strong> have been paid</p>

    <p>Please email us at <a href="mailto:getleaguehero@gmail.com">getleaguehero@gmail.com</a> to receive all the information on how to withdraw the payments.</p>
    <p>
      Thanks again for choosing League Hero!
    </p>
    <br>
    <p>Game On!<br><strong>Team League Hero</strong></p>
  </body>
</html>
