<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Heads Up! Your league, <%= @league.name %>, information will be deleted tomorrow.</h1>
    <p>
      If you want to keep your data or...
    </p>
    <p>
      If you are ready to pay for your league, sign in,
    </p>
    <p>
      To login to the site, just follow this link: <a href="lvh.me:5000/users/sign_in">Log In</a>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
