<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your Trial Expires in 1 Day!</h1>
    <p>Your league trial, <%= @league.name %>, has 1 day left to activate before it will be deleted.</p>
    <p>To activate your league <a href="http://leaguehero.io/users/sign_in">log in</a> and complete the account process.</p>
    <p>Game On!<br><strong>Team League Hero</strong></p>
  </body>
</html>
