<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Heads Up!</h1>
    <p>This is the last day to activate your league trial, <%= @league.name %>, before it is deleted.</p>
    <p>To activate your league <a href="http://leaguehero.io/users/sign_in">log in</a> and complete the account process.</p>
    <p>Game On!<br><strong>Team League Hero</strong></p>
  </body>
</html>
