<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to League Hero <%= @user.name %>!</h1>
    <p>You have successfully signed up and created a league.</p>
    <p>Your username is: <%= @user.email %>. Please <a href="http://leaguehero.io/users/sign_in">log in</a> and active your league.</p>
    <p>Thanks for joining and have a great day!<br><strong>Team League Hero</strong></p>
  </body>
</html>
