<% set_meta_tags :site => 'About • League Hero',
  :canonical => 'http://leaguehero.io/about',
  :author => 'League Hero',
  :copyright => '&copy; 2016 League Hero',
  :description => "League Hero is an online and mobile league management application created by founders Rob Schwartz and Justin Seidl based in Chicago, IL.",
  :keywords => ['league', 'management', 'about', 'scheduling', 'rob schwartz', 'justin seidl', 'founders', 'about us', 'league hero'],
  :reverse => true,
  :og => {
    :title          => 'About • League Hero',
    :type           => 'website',
    :url            => request.original_url,
    :image          => 'http://leaguehero.io/assets/fb-image-league-hero.png',
    :description    => "League Hero is an online and mobile league management application created by founders Rob Schwartz and Justin Seidl based in Chicago, IL.",
    :site_name      => 'League Hero',
  },
  :twitter => {
    :card           => 'summary',
    :site           => '@getleaguehero',
    :title          => 'About • League Hero',
    :description    => "League Hero is an online and mobile league management application created by founders Rob Schwartz and Justin Seidl based in Chicago, IL.",
    :creator        => '@getleaguehero',
    :image          => 'http://leaguehero.io/assets/fb-image-league-hero.png',
  }
%>

<div class="container">
  <div class="hero">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>About League Hero</h1>
        <p>League Hero was created by Rob Schwartz and Justin Seidl.</p>
      </div>
    </div>
  </div>
</div>
