<% set_meta_tags :site => 'Contact • League Hero',
  :canonical => 'http://leaguehero.io/sports',
  :author => 'League Hero',
  :copyright => '&copy; 2016 League Hero',
  :description => "Questions, comments or inquires about League Hero? Contact us via email at getleaguehero@gmail.com.",
  :keywords => ['league', 'management', 'contact', 'email', 'league hero'],
  :reverse => true,
  :og => {
    :title          => 'Contact • League Hero',
    :type           => 'website',
    :url            => request.original_url,
    :image          => 'http://leaguehero.io/assets/fb-image-league-hero.png',
    :description    => "Questions, comments or inquires about League Hero? Contact us via email at getleaguehero@gmail.com.",
    :site_name      => 'League Hero',
  },
  :twitter => {
    :card           => 'summary',
    :site           => '@getleaguehero',
    :title          => 'Contact • League Hero',
    :description    => "Questions, comments or inquires about League Hero? Contact us via email at getleaguehero@gmail.com.",
    :creator        => '@getleaguehero',
    :image          => 'http://leaguehero.io/assets/fb-image-league-hero.png',
  }
%>

<div class="container">
  <section class="-centered">
    <div class="row">
      <div class="col-md-8 col-md-offset-2" style="text-align: center;">
        <h1>Get in Touch</h1>
        <p>The team's mission is to create an easy-to-use league management application for web and mobile devices. Interested in managing your leagues with League Hero? Contact the team for questions or inquiries.</p>
        <p><strong>E:</strong> <a href="mailto:getleaguehero@gmail.com" target="_blank">getleaguehero@gmail.com</a></p>
      </div>
    </div>
  </section>
</div>
