<div class="container">
  <section class="-centered">
    <div class="row">
      <div class="col-md-8 col-md-offset-2" style="text-align: center;">
        <h1>Get in Touch</h1>
        <p>The team's mission is to create an easy-to-use league management application for web and mobile devices. Interested in managing your leagues with League Hero? Contact the team for questions or inquiries.</p>
        <p><strong>E:</strong> <a href="mailto:getleaguehero@gmail.com" target="_blank">getleaguehero@gmail.com</a></p>
      </div>
    </div>
  </section>
</div>
