<% set_meta_tags :site => 'Features • League Hero',
  :canonical => 'http://leaguehero.io/features',
  :author => 'League Hero',
  :copyright => '&copy; 2016 League Hero',
  :description => "-",
  :keywords => ['league', 'management', 'features'],
  :reverse => true,
  :og => {
    :title          => 'Features • League Hero',
    :type           => 'website',
    :url            => request.original_url,
    :image          => 'http://leaguehero.io/assets/fb-image-league-hero.png',
    :description    => "-",
    :site_name      => 'League Hero',
  },
  :twitter => {
    :card           => 'summary',
    :site           => '@getleaguehero',
    :title          => 'Features • League Hero',
    :description    => "-",
    :creator        => '@getleaguehero',
    :image          => 'http://leaguehero.io/assets/fb-image-league-hero.png',
  }
%>

<div class="container">
  <div class="hero -features">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Features that make running your league easy!</h1>
        <!-- <img src="http://placehold.it/720x360"> -->
      </div>
    </div>
  </div>
  <section>
    <div class="row">
      <div id="mobile" class="col-md-5 col-md-offset-1">
        <%= image_tag("sports-league-messaging.svg", alt: 'League messaging for teams and players') %>
        <!-- <img src="/assets/image-reminders.png" alt="Game Reminders and Notifications"> -->
      </div>
      <div class="col-md-5 col-md-offset-1">
        <h3>Quickly communicate with members of your league</h3>
        <p>Simple reminders, rain delays or rescheduling can all be easily communicated to teams and players across the league with League Hero’s messaging services.</p>
        <p>Send specific messages to each captain or a mass message to everyone in the league.</p>
        <!-- <h3>Reminders and Updates</h3>
        <p>Players no longer have an excuse for missing a game with our upcoming game reminders. After game results are posted they will also receive an update on the league’s results.</p> -->
        <!-- <a class="button" href="#">Learn More</a> -->
      </div>
      <div id="desktop" class="col-md-5">
        <%= image_tag("sports-league-messaging.svg", alt: 'League messaging for teams and players') %>
        <!-- <img src="/assets/image-reminders.png" alt="Game Reminders and Notifications"> -->
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-4 col-md-offset-1">
        <img src="/assets/image-mobile-league.svg" alt="Mobile League Management Application">
      </div>
      <div class="col-md-5 col-md-offset-1">
        <h3>A Custom League Website</h3>
        <p>Each league gets a clean, easy-to-read and customizable website with league schedules, rosters and recent news. All leagues pages by League Hero are also designed to be used on your mobile device.</p>
        <!-- <a class="button" href="#">Learn More</a> -->
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div id="mobile" class="col-md-3 col-md-offset-1">
        <div class="img-pricing">1.. 2.. 3!</div>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <h3>Easy Registration and Setup</h3>
        <p>League Hero’s number one point of emphasis is easy registration and setup. It shouldn’t take hours to setup and manage your league and we go to great lengths to simplify the process.</p>
        <a class="button" href="/pricing">View Pricing</a>
      </div>
      <div id="desktop" class="col-md-3 col-md-offset-1">
        <div class="img-pricing">1.. 2.. 3!</div>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
      <div class="col-md-4 col-md-offset-1">
        <img src="/assets/image-sports.png" alt="League Hero Sports">
      </div>
      <div class="col-md-5 col-md-offset-1">
        <h3>A Variety of Sports</h3>
        <p>A wide range of sports from basketball to volleyball are supported by the League Hero platform. Organize and manage your league or club with ease and follow examples of the sports we support.</p>
        <a class="button" href="/sports">View Sports</a>
      </div>
    </div>
  </section>
  <!--
  <section class="-centered">
    <div class="row">
      <div class="col-md-12">
        <h2>Additional Features</h2>
        <p>League Hero offers these additional features.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="featured-item">
          <img src="http://placehold.it/120x120">
          <h5>League Messaging</h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="featured-item">
          <img src="http://placehold.it/120x120">
          <h5>Customer Success</h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="featured-item">
          <img src="http://placehold.it/120x120">
          <h5>Scheduling Hero&trade;</h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="featured-item">
          <img src="http://placehold.it/120x120">
          <h5>Simple Pricing</h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="featured-item">
          <img src="http://placehold.it/120x120">
          <h5>Mobile Ready</h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="featured-item">
          <img src="http://placehold.it/120x120">
          <h5>Safe &amp; Secure</h5>
        </div>
      </div>
    </div>
  </section>
  -->
  <section class="-centered">
    <div class="row">
      <div class="col-md-12">
        <h2>A Simple League App</h2>
        <p>Everything you need in an affordable league management application.</p>
        <a class="button -green" href="/create-a-league">Create a League</a>
      </div>
    </div>
  </section>
</div>
