<% set_meta_tags :site => 'League Hero, simple and easy league managment software.',
  :canonical => 'http://leaguehero.io',
  :author => 'League Hero',
  :copyright => '&copy; 2016 League Hero',
  :description => "-",
  :keywords => ['league'],
  :reverse => true,
  :og => {
    :title          => 'League Hero',
    :type           => 'website',
    :url            => request.original_url,
    :image          => '-',
    :description    => "-",
    :site_name      => 'Green Bay Travel Guide',
  },
  :twitter => {
    :card           => 'summary',
    :site           => '@getleaguehero',
    :title          => 'League Hero',
    :description    => "-",
    :creator        => '@getleaguehero',
    :image          => '-',
  }
%>

<div class="container">
  <h1>Manage your league online and with your mobile.</h1>
</div>
