<% set_meta_tags :site => 'Pricing • League Hero',
  :canonical => 'http://leaguehero.io/sports',
  :author => 'League Hero',
  :copyright => '&copy; 2016 League Hero',
  :description => "Simple and affordable pricing of $1 per player for League Hero's league management application.",
  :keywords => ['league', 'management', 'pricing', 'pricing plans', 'sign up', 'league hero', 'cost', 'fees'],
  :reverse => true,
  :og => {
    :title          => 'Pricing • League Hero',
    :type           => 'website',
    :url            => request.original_url,
    :image          => 'http://leaguehero.io/assets/fb-image-league-hero.png',
    :description    => "Simple and affordable pricing of $1 per player for League Hero's league management application.",
    :site_name      => 'League Hero',
  },
  :twitter => {
    :card           => 'summary',
    :site           => '@getleaguehero',
    :title          => 'Pricing • League Hero',
    :description    => "Simple and affordable pricing of $1 per player for League Hero's league management application.",
    :creator        => '@getleaguehero',
    :image          => 'http://leaguehero.io/assets/fb-image-league-hero.png',
  }
%>

<div class="container">
  <div class="hero -pricing">
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <div class="pricing">
          <div class="dollar">$</div>
          <div class="amount">1</div>
          <div class="player">/player</div>
        </div>
      </div>
      <div class="col-md-5">
        <h1>Simple Pricing</h1>
        <p>Pricing is simple. $1 per player in your league. If you have ten teams with eight players that comes to a total of $80 for a season.</p>
        <a class="button -green" href="/create-a-league">Create a League</a>
      </div>
    </div>
  </div>
  <section>
    <div class="row">
      <div class="col-md-8 col-md-offset-2" style="text-align: center;">
        <h2 class="pricing-questions">Common Questions</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-1">
        <h5>How long are your contracts?</h5>
        <p>League Hero subscriptions are annual payments. Upgrade, switch, or cancel your plan at any time.</p>
        <h5>When will I be charged?</h5>
        <p>You will be charged immediately upon signing up, and then every year after.</p>
        <h5>How do I cancel?</h5>
        <p>You can cancel at any time in the billing section of the dashboard or by contacting us. There are no obligations or contracts.</p>
      </div>
      <div class="col-md-4 col-md-offset-2">
        <h5>How can I pay?</h5>
        <p>All major credit cards are accepted: Visa, MasterCard, American Express, and Discover.</p>
        <h5>How secure is my payment info?</h5>
        <p>All payments to League Hero are processed securely by industry leader, <a href="http://stripe.com" target="_blank" rel="nofollow">Stripe</a>. Your card information never even touches our servers.</p>
      </div>
    </div>
  </section>
</div>
