<% set_meta_tags :site => 'Sports • League Hero',
  :canonical => 'http://leaguehero.io/sports',
  :author => 'League Hero',
  :copyright => '&copy; 2016 League Hero',
  :description => "-",
  :keywords => ['league', 'management'],
  :reverse => true,
  :og => {
    :title          => 'Sports • League Hero',
    :type           => 'website',
    :url            => request.original_url,
    :image          => '-',
    :description    => "-",
    :site_name      => 'League Hero',
  },
  :twitter => {
    :card           => 'summary',
    :site           => '@getleaguehero',
    :title          => 'Sports • League Hero',
    :description    => "-",
    :creator        => '@getleaguehero',
    :image          => '-',
  }
%>

<div class="container">
  <div class="hero">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Sports on League Hero</h1>
        <p>The following sports are supported by League Hero and our league management software.</p>
      </div>
    </div>
  </div>
  <section class="-centered">
    <div class="row">
      <div class="col-md-4">
        <div class="featured-item">
          <img src="http://placehold.it/120x120">
          <h5>Baseball</h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="featured-item">
          <img src="http://placehold.it/120x120">
          <h5>Basketball</h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="featured-item">
          <img src="http://placehold.it/120x120">
          <h5>Football</h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="featured-item">
          <img src="http://placehold.it/120x120">
          <h5>Golf</h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="featured-item">
          <img src="http://placehold.it/120x120">
          <h5>Ice Hockey</h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="featured-item">
          <img src="http://placehold.it/120x120">
          <h5>Lacrosse</h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="featured-item">
          <img src="http://placehold.it/120x120">
          <h5>Soccer</h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="featured-item">
          <img src="http://placehold.it/120x120">
          <h5>Softball</h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="featured-item">
          <img src="http://placehold.it/120x120">
          <h5>Volleyball</h5>
        </div>
      </div>
    </div>
    <!-- <ul>
      <li><a href="/sports/baseball">Baseball</a></li>
      <li><a href="/sports/basketball">Basketball</a></li>
      <li><a href="/sports/football">Football</a></li>
      <li><a href="/sports/golf">Golf</a></li>
      <li><a href="/sports/ice-hockey">Ice Hockey</a></li>
      <li><a href="/sports/lacrosse">Lacrosse</a></li>
      <li><a href="/sports/soccer">Soccer</a></li>
      <li><a href="/sports/softball">Softball</a></li>
      <li><a href="/sports/volleyball">Volleyball</a></li>
    </ul> -->
  </section>
  <section class="-centered">
    <div class="row">
      <div class="col-md-12">
        <h2>Manage Your Sports League</h2>
        <p>Create and manage your league now.</p>
        <a class="button -green" href="/create-a-league">Create a League</a>
      </div>
    </div>
  </section>
</div>
