<% set_meta_tags :site => 'Terms • League Hero',
  :canonical => 'http://leaguehero.io/terms',
  :author => 'League Hero',
  :copyright => '&copy; 2016 League Hero',
  :description => "Access to and use of League Hero is subject exclusively to these terms of service.",
  :keywords => ['league', 'management', 'terms', 'terms of service', 'access'],
  :reverse => true,
  :og => {
    :title          => 'Terms • League Hero',
    :type           => 'website',
    :url            => request.original_url,
    :image          => 'http://leaguehero.io/assets/fb-image-league-hero.png',
    :description    => "Access to and use of League Hero is subject exclusively to these terms of service.",
    :site_name      => 'League Hero',
  },
  :twitter => {
    :card           => 'summary',
    :site           => '@getleaguehero',
    :title          => 'Terms • League Hero',
    :description    => "Access to and use of League Hero is subject exclusively to these terms of service.",
    :creator        => '@getleaguehero',
    :image          => 'http://leaguehero.io/assets/fb-image-league-hero.png',
  }
%>

<div class="container">
  <section>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>Terms and Conditions of League Hero</h1>
        <p>Users of the Services offered by League Hero acknowledge and accept these terms and conditions.</p>
        <h2>Who is League Hero and Related Services</h2>
        <p>White Label Directory, LLC<br>
        224 Colle St, Luxemburg WI, 54217 (United States)<br>
        <a href="mailto:contact@leaguehero.io" target="_blank">contact@leaguehero.io</a></p>
        <h2>Information About League Hero</h2>
        <p>League Hero is an application which allows leagues or clubs to create hosted league pages. Leagues or clubs can communicate with their teams and players, schedule games and track results of each game. Leagues or clubs can make use of the provided and activated features such as group notifications and messages.</p>
        <h2>Registration</h2>
        <p>In order to use the service or any part of it, users must register in a truthful and complete manner by providing all the required data in the relevant registration form. The users must also accept the privacy policy and these terms of service in full. Users are responsible for keeping their login credentials confidential.</p>
        <h2>Paid Services</h2>
        <p>League Hero provides services and subscriptions available for leagues or clubs upon payment of a fee. The fees, duration and conditions for the accounts and paid services are highlighted in the relevant section of League Hero.</p>
        <h2>Recurring Subscription</h2>
        <p>Payments start from the date when Users choose a paid subscription or modify another existing payment plan. The subscription must be renewed at each billing cycle to maintain the benefits provided by the paid services.</p>
        <h3>Automatic Renewal</h3>
        <p>Recurring subscriptions are renewed automatically through the payment method that the user chose at the time of purchase. The renewed subscription will last for the same period of time as the original service period. Users may cancel automatic renewal at any time prior to the next renewal date by changing their preferences for the payment method used. If the user cancels an automatic renewal, then League Hero may be forced to cancel their subscription when it runs out.</p>
        <h2>Refunds</h2>
        <p>Refunds are not granted under any circumstances, but users can either send a request to exercise the right of cancellation by contacting League Hero or use any alternative procedure provided by the payment handling platform used for the transaction.</p>
        <h2>Methods of Payment</h2>
        <p>League Hero uses a third-party tool, Stripe, for its payment processing and is not connected with any of the provided payment information – such as the credit card – in any way.</p>
        <h2>Account Termination</h2>
        <p>Registered users can cancel their accounts and stop using the service at any time, through the interface of League Hero or by directly contacting League Hero through the contact provided.</p>
        <p>In case of deletion or termination of an account, the user shall grant League Hero the right to retain, at League Hero’s sole discretion, some basic information related to the relevant account. League Hero reserves the right to suspend or terminate the account of the user at any time and without notice.</p>
        <h2>The Service is Provided "as is"</h2>
        <p>The Service is provided by League Hero "as is", with no express or implied warranty for accuracy or availability.</p>
        <h2>Service Interruption</h2>
        <p>League Hero reserves the right to add and remove functionalities or features as well as suspend or even discontinue the service, either temporarily or permanently. In case of final discontinuation, League Hero will do the utmost to allow users to withdraw their information held by League Hero.</p>
        <h2>Service Reselling</h2>
        <p>Users are not allowed to reproduce, duplicate, copy, sell, or exploit any portion of League Hero and of its service without League Hero’s express permission.</p>
        <h2>Indemnity</h2>
        <p>The User agrees to indemnify and hold League Hero and its subsidiaries, affiliates, officers, directors, agents, co-branders, partners and employees, as the case may be, harmless from and against any claim or demand, including without limitation, reasonable lawyer's fees and costs, made by any third party due to or arising out of the User’s content, use of or connection to the service, violation of these terms, or violation of any third-party rights.</p>
        <h2>Forbidden Use</h2>
        <p>The Service shall be used only in accordance with these terms.</p>
        <p>Users may not:</p>
        <ul>
          <li>reverse engineer, decompile, disassemble, modify or create derivative works based on League Hero or any portion of it;</li>
          <li>circumvent any technology used by League Hero or its licensors to protect content accessible via it;</li>
          <li>copy, store, edit, change, prepare any derivative work of or alter in any way any of the content provided through League Hero;</li>
          <li>use any robot, spider, site search/retrieval application, or other automated device, process or means to access, retrieve, scrape, or index any portion of League Hero or its content;</li>
          <li>use League Hero in any other improper way that violates these terms.</li>
        </ul>
        <h2>Privacy Policy</h2>
        <p>For information about the use of their personal data, users must refer to the privacy policy of League Hero which is hereby considered to be part of these terms.</p>
        <h2>Trademarks</h2>
        <p>All trademarks, nominal or figurative, and all other marks, trade names, service marks, word marks, illustrations, images, or logos that appear concerning League Hero are, and remain, the exclusive property of League Hero or its vendors and are protected by the laws in force on trademarks and by related international treaties.</p>
        <h2>Age Eligibility</h2>
        <p>Under no circumstance may persons under the age of 13 may use League Hero. Users declare themselves to be of an age where specialized privacy regulations, such as the Children's Online Privacy Protection Act (COPPA), 15 U.S.C. §§ 6501–6506, do not apply to them. Minors may use League Hero only with the assistance of a parent or guardian.</p>
        <h2>Limitations of Liability</h2>
        <p>The user expressly releases and exempts League Hero from any liability, to the extent permitted by the applicable law, relating to possible damage or claims of any kind, including direct, indirect, punitive, incidental, special damages related to loss of profits, loss of revenues, loss of data or costs of substitution consequential or anyhow connected to the present agreement.</p>
        <p>All product information, images, material safety data sheets (MSDS), specifications, data sheets and submittal sheets on League Hero originate from the manufacturers of the products. League Hero and/or its subsidiaries do not independently verify, and in accordance do not warrant and are not liable for, the accuracy of this information. Any additional questions related to the product should be directed to the manufacturer of the product.</p>
        <h2>Changes to these Terms</h2>
        <p>League Hero reserves the right to modify these terms at any time, informing users by publishing a notice within the League Hero website. Users who continue to use League Hero after the publication of the changes accept the new terms in their entirety.</p>
        <h2>Assignment of Contract</h2>
        <p>League Hero reserves the right to transfer, assign, or subcontract all or any rights or obligations under these terms, as long as the user's rights under the terms are not affected. Users may not assign or transfer their rights or obligations under these terms in any way without the written permission of League Hero.</p>
        <h2>Contacts</h2>
        <p>All communications relating to League Hero must be sent using the contacts stated in this document.</p>
        <h2>Severability</h2>
        <p>If any provision of these Terms is invalid or unenforceable, that clause will be removed and the remaining provisions shall not be affected and they will remain in force.</p>
        <h2>Governing Law and Jurisdiction</h2>
        <p>These terms and any dispute concerning the implementation, interpretation and validity of this agreement are subject to the law, the jurisdiction of the state and to the exclusive jurisdiction of the courts where League Hero has their registered offices. An exception of this rule applies in cases, where the law provides a sole place of jurisdiction for consumers.</p>
        <p><strong>Latest update: January 1, 2016</strong></p>
      </div>
    </div>
  </section>
</div>
