<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h2>Set League Dues</h2>
      <%= render :partial => 'layouts/messages' %>
      Set the league dues below.
      <%= simple_form_for @league, :url => send_dues_email_path, :method => :post do |f| %>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="number" placeholder="100" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" id="c2" name="price" />
        </div>
        <br>
        <br>
        <p>Your league will be charged 5% for each transaction. When all dues have been marked as “paid” League Hero will send collected payments to the league manager. </p>
        <input class="form-control" type="hidden" name="payer" value=<%= params["payer"] %>>
        <%= button_to "Send Dues Emails", class: "btn btn-primary", type: "submit" %>
      <% end %>
    </div>
  </div>
</div>
