<% set_meta_tags :site => 'Confirmation • League Hero',
  :noindex => true
%>


<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h2>Confirmation</h2>
      <div>
        Your payment of $<%= @league.price %> for <%= @league.name %> has been accepted! 
      </div>
      Thanks for the payment <%= @player.name %>!
    </div>
  </div>
</div>
