<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form action="generate" method="post">
        <strong>Court/ Field Name(s):</strong> <input type="text" name="field_names" placeholder="Names of fields/ courts">
          Please use a comma(,) to seperate the field/ court names.
          <br>
        <strong>Game Times:</strong> <input type="text" name="game_times" placeholder="Times to allow Games">
        Please use a comma(,) to seperate game times to allow.
        <br>
        <strong>Start Date:</strong> <input type="date" name="start_date" placeholder="Date to Start Games"><br>
        <strong>Game Day:</strong> <select type="collection" name="game_days" placeholder="Days of week to allow Games">
          <% @week_days.each do |key, val| %>
            <option value=<%= val %>>
              <%= key %>
            </option>
          <% end %>
        </select><br>
        <strong>Game Cycles:</strong> <input type="text" name="cycles" placeholder="How Many Times Each Team Will Meet"><br>
        <strong>Dates to Exclude:</strong> <input type="text" name="excluded_dates" placeholder="Dates to not have games "> Add dates in YYYY/MM/DD format<br><br>
        <input type="submit" value="Generate Games">
        <notice>Don't worry, you will be able to edit the games.</notice>
      </form>
    </div>
  </div>
</div>
