<div class="container">
  <div class="row">
    <%= link_to('Add Games Manually ', new_game_path) %>
    <br>
    <%= link_to('Generate Games', games_generator_options_path) %>
    <br>

    Show all games here 
  </div>
</div>
