Add Games here. Not sure the best way to do this. Maybe have 2 dropdowns of all team names (team1 vs team2) then they can add a date and time with jquery picker.
<br>

<% @schedule.gamedays.each do |gd| %>
  <%= gd.date.strftime("%Y/%m/%d") %>
  <p>
    "===================="
  </p>
  <% gd.games.each do |g| %>
    <%= g.team_a.to_s + " Vs " + g.team_b.to_s + " on playing surface ##{g.playing_surface} at #{g.game_time.strftime("%I:%M %p")}" %>
    <br>
  <% end %>
  <br>
<% end %>
