<% set_meta_tags :site => 'Generate Playoffs • League Hero',
  :noindex => true
%>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      PLAYOFFS!!?!?!?!
    </div>
    Add button to start playoffs
    Add stop playoffs button to manage page
  </div>
</div>
