<% set_meta_tags :site => 'Volleyball • Sports • League Hero',
  :canonical => 'http://leaguehero.io/sports/volleyball',
  :author => 'League Hero',
  :copyright => '&copy; 2016 League Hero',
  :description => "-",
  :keywords => ['league', 'management', 'volleyball'],
  :reverse => true,
  :og => {
    :title          => 'Volleyball • Sports • League Hero',
    :type           => 'website',
    :url            => request.original_url,
    :image          => '-',
    :description    => "-",
    :site_name      => 'League Hero',
  },
  :twitter => {
    :card           => 'summary',
    :site           => '@getleaguehero',
    :title          => 'Volleyball • Sports • League Hero',
    :description    => "-",
    :creator        => '@getleaguehero',
    :image          => '-',
  }
%>

<div class="container">
  <div class="row">
    <h1>Volleyball League Management App</h1>
    <a class="button" href="/create-a-league">Create a League</a>
  </div>
</div>
