<div class="row">
  <div class="col-sm-2 col-sm-offset-3">
    <div class="plan_box">
      <h3>Test Plan</h3>
      <p>
        FREEE!!!!
      </p>
    </div>
  </div>
  <div class="col-sm-2 col-sm-offset-3">
    <div class="plan_box">
      <h3>Good Plan</h3>
        <p>
          Also Free
        </p>
    </div>
  </div>
  <div class="col-sm-2 col-sm-offset-3">
    <div class="plan_box">
      <h3>Great Plan</h3>
        <p>
          Just a dollar
        </p>
    </div>
  </div>
</div>
