<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Create New League Post</h2>
      <%= simple_form_for @post do |f| %>
        <%= f.input :title, :placeholder => "Post title" %>
        <!-- this will be a dropdown of everyone on the team -->
        <%= f.input :body, :placeholder => "Write your post here" %>
        <!-- this will be a dropdown of everyone on the team -->
        <%= f.submit "Submit" %>
      <% end %>
    </div>
  </div>
</div>
