/*
* League Hero
* Copyright League Hero 2016
* leaguehero.io
*/


// Button
.button, a.button {
  background: none;
  border: 2px solid #999;
  border-radius: 8px;
  box-sizing: border-box;
  color: #999;
  display: inline-block;
  font-weight: 700;
  height: 54px;
  line-height: 50px;
  padding: 0 24px;
  text-decoration: none;
  text-transform: uppercase;
  @include breakpoint(l-three) { padding: 0 16px; }
  &:hover {
    background: #999;
    color: #FFF;
  }
}

// Button Colors
.button.-green, a.button.-green {
  border: 2px solid #6BC16F;
  color: #6BC16F;
  &:hover {
    background: #6BC16F;
    color: #FFF;
  }
}
