/*
* League Hero
* Copyright League Hero 2016
* leaguehero.io
*/


// Button
.button, a.button {
  background: #EDEDED;
  border: none;
  border-radius: 8px;
  color: #999;
  display: inline-block;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  padding: 0 24px;
  text-decoration: none;
  text-transform: uppercase;
  @include box-sizing(border-box);
  &:hover {
    background: #666;
    color: #FFF;
  }
}

// Button Colors
.button.-green, a.button.-green {
  background: #6BC16F;
  color: #FFF;
  &:hover {
    background: #44536A;
    color: #FFF;
  }
}
