/*
* League Hero
* Copyright League Hero 2016
* leaguehero.io
*/


  html { height: 100%; }
  body {
    color: #666;
    font-family: Futura;
    height: 100%;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
  }
