/*
* League Hero
* Copyright League Hero 2016
* leaguehero.io
*/


html { height: 100%; }
body {
  color: #666;
  font-family: Futura;
  height: 100%;
  overflow-x: hidden;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  color: #44536A;
  font-family: Futura;
  font-weight: 700;
  line-height: 1.2;
}
h1, h2 { margin: 0 0 20px 0; }
h3, h4 { margin: 0 0 12px 0; }
h1 { font-size: 48px; }
h2 { font-size: 42px; }
h3 { font-size: 32px; }

p {
  font-size: 20px;
  line-height: 1.6;
  margin: 0 0 32px 0;
}

img {
  height: auto;
  max-width: 100%;
}
