@font-face {
  font-family: Futura;
  font-weight: normal;
  src:url(/fonts/FuturaPT-Book.eot?#iefix);
  src:url(/fonts/FuturaPT-Book.eot?#iefix) format("eot"),
  url(/fonts/FuturaPT-Book.woff) format("woff"),
  url(/fonts/FuturaPT-Book.ttf) format("truetype"),
  url(/fonts/FuturaPT-Book.svg) format("svg")
}

@font-face {
  font-family: Futura;
  font-weight: 600;
  src:url(/fonts/FuturaPT-Demi.eot?#iefix);
  src:url(/fonts/FuturaPT-Demi.eot?#iefix) format("eot"),
  url(/fonts/FuturaPT-Demi.woff) format("woff"),
  url(/fonts/FuturaPT-Demi.ttf) format("truetype"),
  url(/fonts/FuturaPT-Demi.svg) format("svg")
}

@font-face {
  font-family: Futura;
  font-weight: 700;
  src:url(/fonts/FuturaPT-Heavy.eot?#iefix);
  src:url(/fonts/FuturaPT-Heavy.eot?#iefix) format("eot"),
  url(/fonts/FuturaPT-Heavy.woff) format("woff"),
  url(/fonts/FuturaPT-Heavy.ttf) format("truetype"),
  url(/fonts/FuturaPT-Heavy.svg) format("svg")
}
