/*
* League Hero
* Copyright League Hero 2016
* leaguehero.io
*/


.games-toolbar {
  margin: 0 0 24px 0;
  nav.gt-months {
    @extend %clear;
    a {
      background: #EDEDED;
      border: 2px solid #EDEDED;
      border-radius: 32px;
      color: #666;
      float: left;
      font-size: 15px;
      font-weight: 600;
      height: 32px;
      line-height: 28px;
      margin: 0 8px 0 0;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      width: 60px;
      &.active {
        background: #FFF;
        color: #333;
      }
      &:hover {
        background: #454545;
        border: 2px solid #454545;
        color: #FFF;
      }
      &.add-game {
        color: #999;
        float: right;
        background: none;
        border: none;
        height: auto;
        margin: 0 0 0 20px;
        width: auto;
        &:hover, &.active { color: #333; }
      }
    }
  }
}

.hero-create-schedule {
  border: 1px solid #DDD;
  border-radius: 8px;
  padding: 24px;
}
