/*
* League Hero
* Copyright League Hero 2016
* leaguehero.io
*/


.games-toolbar {
  margin: 0 0 24px 0;
  nav.gt-months {
    @extend %clear;
    a {
      background: #EDEDED;
      border: 2px solid #EDEDED;
      border-radius: 32px;
      color: #666;
      float: left;
      font-size: 15px;
      font-weight: 600;
      height: 32px;
      line-height: 28px;
      margin: 0 8px 0 0;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      width: 60px;
      &.active {
        background: #FFF;
        color: #333;
      }
      &:hover {
        background: #454545;
        border: 2px solid #454545;
        color: #FFF;
      }
      &.add-game, &.destroy-games {
        color: #999;
        float: right;
        background: none;
        border: none;
        height: auto;
        margin: 0 0 0 20px;
        width: auto;
        &:hover, &.active { color: #333; }
      }
      &.destroy-games {
        color: #CCC;
        &:hover { color: #F45D4C; }
      }
    }
  }
}

.hero-create-schedule {
  border: 1px solid #DDD;
  border-radius: 8px;
  margin: 0 0 24px 0;
  padding: 40px;
  @include breakpoint(l-one) {
    margin: 0 0 32px 0;
    padding: 24px;
  }
}

.form-control[readonly] { background-color: #FFF; }

.gameday-legend {
  background: #EDEDED;
  color: #666;
  font-size: 14px;
  font-weight: 600;
  height: 36px;
  line-height: 36px;
  text-transform: uppercase;
  width: 100%;
  @extend %clear;
  @include breakpoint(l-one) { display: none; visibility: hidden; }
  .gl-info {
    box-sizing: border-box;
    float: left;
    padding: 0 16px;
    width: 25%;
  }
  .gl-team {
    box-sizing: border-box;
    float: left;
    padding: 0 12px;
    width: 75%;
    @extend %clear;
    .gl-match { float: left; }
    .gl-result, .gl-score {
      float: right;
      text-align: center;
      width: 80px;
    }
    &.gl-w-admin { width: 70%; }
  }
  .gl-admin {
    float: left;
    width: 5%;
  }
}
.gameday-group {
  width: 100%;
  .gameday-game {
    border: 2px solid #EDEDED;
    border-bottom-width: 1px;
    box-sizing: border-box;
    height: 68px;
    @extend %clear;
    @include breakpoint(l-one) { height: auto; }
    .gd-info {
      border-right: 2px solid #EDEDED;
      box-sizing: border-box;
      color: #44536A;
      float: left;
      font-size: 20px;
      font-weight: 600;
      height: 65px;
      line-height: 1;
      padding: 12px 16px;
      width: 25%;
      @include breakpoint(l-one) {
        border-right: 0;
        width: 100%;
      }
      a.gd-edit {
        float: right;
        font-size: 0.72em;
        text-transform: uppercase;
      }
      span {
        color: #999;
        font-size: 13px;
      }
    }
    .gd-teams {
      float: left;
      width: 75%;
      @include breakpoint(l-one) { width: 100%; }
      &.gd-w-admin {
        border-right: 2px solid #EDEDED;
        width: 70%;
        @include breakpoint(l-one) {
          border-right: 0;
          width: 100%;
        }
      }
      .gd-team {
        border-bottom: 2px solid #EDEDED;
        box-sizing: border-box;
        font-size: 14px;
        font-weight: 600;
        height: 33px;
        line-height: 1;
        padding: 8px 12px;
        width: 100%;
        @extend %clear;
        &.last { border-bottom: 0; }
        a { float: left; }
        .gd-score, .gd-result {
          float: right;
          text-align: center;
          width: 80px;
        }
      }
    }
    .gd-admin {
      float: left;
      line-height: 66px;
      text-align: center;
      width: 5%;
    }
  }
}
.gameday-group-break{
  border-bottom: 2px solid #EDEDED;
  margin: 0 0 12px 0;
}

// Delete Game
a.game-delete { float: right; }
