.header_style_bar {
  height: 16px;
  background-color: #888;
}
.sub_header{
  height: 180px;
  background-color: #999999;
}

.league_name{
  line-height: 160px;
  color: #fff;
  text-align: center;
  font-size: 2.5em;
  text-transform: capitalize;
  font-weight: 600;
}
