/*
* League Hero
* Copyright League Hero 2016
* leaguehero.io
*/


.home-wrapper {
  background: #44536A;

  header {
    a.logo.desktop {
      color: #FFF;
      @include breakpoint(l-three) { color: #44536A; }
    }
    #cd-top-nav a {
      color: #FFF;
      &:hover { color: #6BC16F; }
      &.sign-up {
        color: #6BC16F;
        &:hover { color: #FFF; }
      }
    }
  }
}
.home-hero {
  background: #44536A;
  padding: 80px 0 0;
  position: relative;
  height: calc(100vh - 196px);
  @include breakpoint(l-three) { text-align: center; }
  h1 { color: #FFF; }
  p {
    color: #FFF;
    margin: 0 0 48px;
  }
  img.lh-image-01 {
    bottom: 0;
    max-height: 72vh;
    position: absolute;
    right: 0;
    width: auto;
    @include breakpoint(l-three) { display: none; visibility: hidden; }
  }
}

section.featured-home-tabs {
  padding: 80px 0 0;
  @include breakpoint(l-three) { padding: 0; }
}
.home-tabs {
  border-bottom: 2px solid #DDD;
  height: 232px;
  margin: 0 0 80px;
  @extend %clear;
  @include breakpoint(l-three) {
    display: none;
    visibility: hidden;
  }
  .ht-tab {
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    height: 232px;
    margin: 0 2.5% 0 0;
    padding: 0 20px 0 0;
    width: 23.125%;
    &.active {
      border-bottom: 2px solid #44536A;
    }
    &.last { margin: 0; }
    img {
      margin: 0 0 32px;
      max-width: 80px;
      vertical-align: top;
    }
    p { font-size: 18px; }
  }
}
.htv-item {
  box-sizing: border-box;
  display: none;
  width: 100%;
  &.active {
    display: block;
  }
  img {
    @include breakpoint(l-three) { display: none; visibility: hidden; }
  }
}
.htv-content {
  padding: 60px 24px;
  @include breakpoint(l-three) { padding: 12px 0; }
}
