/*
* League Hero
* Copyright League Hero 2016
* leaguehero.io
*/



.league-header {
  background: #6BC16F;
  height: 216px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;
  .lh-topbar {
    background: #57A15B;
    height: 16px;
  }
  a, h1 {
    color: #FFF;
    display: block;
    font-size: 42px;
    font-weight: 600;
    line-height: 1.2;
    margin: 42px 0 0 0;
    text-decoration: none;
    @include breakpoint(l-one) { font-size: 36px; }
  }
}

.league-content, .league-sign-up {
  background: #FFF;
  margin: 0 auto 40px auto;
  max-width: 940px;
  padding: 0 0 40px 0;
  position: relative;
  top: 156px;
  width: 100%;
  z-index: 2;
  @include breakpoint(l-one) {
    margin: 0 auto 24px auto;
    padding: 0 0 20px 0;
  }
  nav.lh-nav {
    background: #FAFAFA;
    border-bottom: 2px solid #DDD;
    height: 60px;
    margin: 0 0 40px 0;
    @include breakpoint(l-one) { margin: 0 0 20px 0; }
    @extend %clear;
    a {
      background: #FAFAFA;
      border-right: 2px solid #DDD;
      color: #999;
      float: left;
      font-weight: 600;
      height: 58px;
      line-height: 60px;
      padding: 0 24px;
      text-decoration: none;
      text-transform: uppercase;
      @include breakpoint(l-one) { padding: 0 20px; }
      &.active, &:hover {
        background: #FFF;
        color: #44536A;
      }
      &.active { height: 60px; }
      &.manage-log-in {
        border-right: none;
        float: right;
        &:hover { background: #FAFAFA; }
      }
    }
    .dropdown {
      float: right;
      a {
        background: none;
        border-right: none;
        @include breakpoint(l-one) { padding: 0 16px 0 0; }
      }
      .dropdown-toggle::after { margin-top: -3px; }
      .dropdown-menu {
        left: initial;
        right: 20px;
        top: 76%;
        a.dropdown-item {
          font-size: 14px;
          height: 28px;
          line-height: 28px;
          padding: 0 16px;
          &.log-out {
            border-top: 1px solid #DDD;
            color: #F45D4C;
            height: 32px;
            line-height: 34px;
            margin: 4px 0 0 0;
          }
        }
      }
    }
  }
  ul.lh-nav {
    border-bottom: 2px solid #DDD;
    height: 60px;
    margin: 0 0 40px 0;
    li {
      width: 15%;
      float: left;
      border-right: 2px solid #ddd;
      padding: 10px;
      height: 100%;
      text-align: center;
      line-height: 2.5em;
      :hover{
        color: black;
      }
      a {
        font-weight: 600;
        text-decoration: none;
        color: #a9a9a9;
        text-align: center;
      }
    }
  }
  .container {
    padding: 0 40px;
    @include breakpoint(l-one) { padding: 0 12px; }
  }
}
.league-sign-up {
  max-width: 480px;
  .container {
    padding: 56px 40px 0 40px;
    @include breakpoint(l-one) { padding: 56px 24px 0 24px; }
  }
}

// Toolbar
.lh-toolbar {
  margin: 0 0 40px 0;
  width: 100%;
  @include breakpoint(l-one) { margin: 0 0 20px 0; }
  @extend %clear;
  .lht-img {
    background: #EDEDED;
    border-radius: 12px;
    float: left;
    height: 60px;
    margin: 0 20px 0 0;
    width: 60px;
  }
  .lht-info {
    float: left;
    .lht-league, .lht-team {
      color: #44536A;
      font-size: 24px;
      font-weight: 600;
      line-height: 36px;
    }
    .lht-manager, .lht-captain {
      color: #999;
      font-size: 14px;
      font-weight: 600;
    }
  }
  .lht-btn { float: right; }
}
