/*
* League Hero
* Copyright League Hero 2016
* leaguehero.io
*/


  // Box Sizing
  @mixin box-sizing($box) {
    -webkit-box-sizing: $box;
    -moz-box-sizing: $box;
    -ms-box-sizing: $box;
    box-sizing: $box;
  }
