/*
* League Hero
* Copyright League Hero 2016
* leaguehero.io
*/


.img-pricing {
  color: #44536A;
  font-size: 4.4em;
  font-weight: 700;
  line-height: 3;
  @include breakpoint(l-one) { line-height: 2; }
}

.pricing {
  color: #44536A;
  font-weight: 700;
  line-height: 0.9;
  text-align: center;
  .dollar {
    display: inline;
    font-size: 4em;
    line-height: 1.8;
    vertical-align: top;
  }
  .amount {
    display: inline;
    font-size: 16em;
  }
  .player {
    display: inline;
    font-size: 1.6em;
    line-height: 3.1;
    margin: 0 0 0 -42px;
    vertical-align: bottom;
  }
}

h2.pricing-questions {
  margin: 0 0 48px 0;
}
