/////////TEAM PAGES///////
// team index page
.team_header{
  width: 40%;
}
.teams_table {
  border: 1px solid #ddd;
  thead{
    background-color: #ddd;
  }
}

// team show page
.team_name{
  text-transform: capitalize;
  font-weight: bold;
  font-size: 2em;
}

.edit_team_button {
  float: right;
  border: 1px solid black !important;
  color: black;
}
  .edit_team_button:hover{
    background-color: #edeff0 !important;
}

// Team edit page
.team_edit_header{
  width: 32%;
}

.edit_page_title{
  font-size: 1em;
  font-weight: bold;
}

////////////////Game Pages///////////
// Game Edit Page

#ui-datepicker-div{
  background-color: #edeff0;
}
// game generator options

.game_generator_form{
  input, select {
    width: 100%;
  }
}


.new_game_table label {
  visibility: hidden;
}
