.container-fluid{
  background-color: #edeff0;
  height: 100%;
}

.info_box {
  position: absolute;
  top: 8em;
  background-color: #fff;
  padding: 0;

  ul {
    height: 4em;
    border-bottom: 2px solid #ddd;
    li {
      width: 15%;
      float: left;
      border-right: 2px solid #ddd;
      padding: 10px;
      height: 100%;
      text-align: center;
      line-height: 2.5em;
      :hover{
        color: black;
      }
      a {
        font-weight: 600;
        text-decoration: none;
        color: #a9a9a9;
        text-align: center;
      }
    }
  }
}

.manage_tab{
  float:right !important;
  border-right: none !important;
}

.active{
  a {
    color: #000 !important;
    border-bottom: none !important;
  }
}

#info_box_content {
  padding: 3em;

}

.dropdown-menu {
  float: right;
  position: static;
  margin-bottom: 5px;
  width: 180px;
  li{
    width: 10%;
  }

}

/////////TEAM PAGES///////
// team index page
.team_header{
  width: 40%;
}
.teams_table {
  border: 1px solid #ddd;
  thead{
    background-color: #ddd;
  }
}

// team show page
.team_name{
  text-transform: capitalize;
  font-weight: bold;
  font-size: 2em;
}

.edit_team_button {
  float: right;
  border: 1px solid black !important;
  color: black;
}
  .edit_team_button:hover{
    background-color: #edeff0 !important;
}

// Team edit page
.team_edit_header{
  width: 32%;
}

.edit_page_title{
  font-size: 1em;
  font-weight: bold;
}

////////////////Game Pages///////////
// Game Edit Page

#ui-datepicker-div{
  background-color: #edeff0;
}
