<% set_meta_tags :site => 'Success! • League Hero',
  :noindex => true
%>

<div class="step-by-step"></div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render :partial => 'layouts/messages' %>
      <h3>Success!</h3>
      <p>Your payment of <strong>$<%= (@league.max_teams * @league.max_players_per_team) %>.00</strong> was accepted.</p>
      <p>
        The league will be available for the duration of the league's season.
      </p>
      <p>
        Game On!
        <br>
        - Team League Hero
      </p>
      <a class="btn btn-primary-outline" href="http://<%= @league.subdomain %>.leaguehero.io">Go To League</a>
    </div>
  </div>
</div>
