<script type="text/javascript">
  // This identifies your website in the createToken call below
  // FUCKING CHANGE THE KEY TO THE ENV variable
  // THis is so bad
  // Not safe!
  // Rob Change!!!
  Stripe.setPublishableKey("pk_test_64d6dYNOb7PKnPkhbhvN9qEa");

  var stripeResponseHandler = function(status, response) {
    var $form = $('#payment-form');
    if (response.error) {
      // Show the errors on the form
      $form.find('.payment-errors').text(response.error.message);
      $form.find('button').prop('disabled', false);
    } else {
      // token contains id, last4, and card type
      var token = response.id;
      // Insert the token into the form so it gets submitted to the server
      $form.append($('<input type="hidden" name="stripeToken" />').val(token));
      // and re-submit
      $form.get(0).submit();
    }
  };
  jQuery(function($) {
    $('#payment-form').submit(function(e) {
      var $form = $(this);
      // Disable the submit button to prevent repeated clicks
      $form.find('button').prop('disabled', true);
      Stripe.card.createToken($form, stripeResponseHandler);
      // Prevent the form from submitting with the default action
      return false;
    });
  });
</script>

<div class="sub_header">
  <div class="header_style_bar">
  </div>
  <div class="league_name">
    Create a League
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="info_box col-md-8 col-md-push-2">
      <div id="info_box_content">
        <%= form_tag "/charges", id: "payment-form" do %>
          <span class="payment-errors text-danger"></span>

          <div class="form-group">
            <label for="number">Card Number</label>
            <input type="text" size="20" class="form-control"  id="number" data-stripe="number"/>
          </div>

          <div class="form-group">
            <label for="cvc">CVC</label>
            <input type="text" size="4" class="form-control" id="cvc" data-stripe="cvc"/>
          </div>

          <label for="exp">Expiration (MM/YYYY)</label>
          <div class="form-group">
            <div>
              <input type="text" size="2" class="form-control exp-field" id="exp"data-stripe="exp-month"/>
              <span> / </span>
              <input type="text" size="4" class="form-control exp-field" data-stripe="exp-year"/>
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Submit Payment</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
