<%= render :partial => 'layouts/messages' %>

<h3>Who Pays?</h3>
<p>
Would you like teams or each individual player to pay the league dues?
</p>

<%= link_to "Teams", payment_setup_league_dues_path(teams: "teams"), class: "btn btn-primary" %>
<%= link_to "Players", payment_setup_league_dues_path(players: "players"), class: "btn btn-primary" %>
