<h3>Who Pays?</h3>
<p>
Would you like teams or each individual player to pay the league dues?
</p>

<%= link_to "Teams", payment_setup_teams_path, class: "btn btn-primary" %>
<%= link_to "Players", payment_setup_players_path, class: "btn btn-primary" %>
