<h2>Oops!</h2>
<p>
It looks like you have not set team captains for every team. This is required before we can send out the payment
request email. Please fill out a team captain for each of the teams below.
</p>

<h3>Set Team Captians</h3>
