<body class="lh-application">

  <div class="league-header">
    <div class="lh-topbar"></div>
    <% if @league %>
      <a href="/"><%= @league.name %></a>
    <% end %>
  </div>

  <div class="league-content">
    <nav class="lh-nav">
      <a class="<% if current_page?(root_path) %>active<% end %>"
         href="/">League</a>
      <a class="<% if current_page?(controller: 'games', action: 'index') %>active<% end %>" href="/schedule">Schedule</a>
      <% if current_user.nil? %>
        <%= link_to "Log In", new_user_session_path, :class => "manage-log-in" %>
      <% else %>
        <div class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Manage</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/teams">Teams</a>
            <a class="dropdown-item" href="/posts">Posts</a>
            <%= link_to "Log Out", destroy_user_session_path, :method => :delete, :class => "dropdown-item log-out" %>
          </div>
        </div>
      <% end %>
    </nav>

    <%= yield %>

  </div>

  <footer class="app-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <nav class="legal">
            <span>&copy; 2016 <a class="lh-logo-footer" href="http://leaguehero.io"><strong>LEAGUE</strong>HERO</a></span>
            <a href="http://leaguehero.io/privacy">Privacy Policy</a>
            <a href="http://leaguehero.io/terms">Terms of Service</a>
          </nav>
        </div>
        <div class="col-sm-3">
          <p>Built in
            <strong>Chicago</strong>
          </p>
        </div>
      </div>
    </div>
  </footer>


  <% if ENV['PRODUCTION'] == "true" %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-15590127-13', 'auto');
      ga('send', 'pageview');
    </script>
  <% end %>


</body>
