<body>

  <header>
      <a class="logo desktop" href="/">League<span>Hero</span></a>
      <nav id="cd-top-nav">
        <ul>
          <li><a href="/features">Features</a></li>
          <li><a href="/pricing">Pricing</a></li>
          <li><a href="/about">About</a></li>
          <li><a class="sign-up" href="/create-a-league">Create</a></li>
        </ul>
      </nav>
      <a id="cd-menu-trigger" href="#0"><span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span></a>
  </header>
  <main class="cd-main-content">
    <%= yield %>
  </main>
  <footer>
    <div class="container">
      <div class="row site-links">
        <div class="col-sm-3">
          <h5 id="h-lh"><i class="caret right icon"></i>League Hero</h5>
          <nav id="n-lh">
            <a href="/features">Features</a>
            <a href="/pricing">Pricing</a>
            <a href="/create-a-league">Create a League</a>
          </nav>
        </div>
        <div class="col-sm-3">
          <h5 id="h-about"><i class="caret right icon"></i>Get in Touch</h5>
          <nav id="n-about">
            <a href="/about">About Us</a>
            <!-- <a href="http://blog.leaguehero.io">Blog</a> -->
            <a href="/contact">Contact Us</a>
          </nav>
        </div>
        <div class="col-sm-5 col-md-offset-1">
          <h5 class="newsletter-h5">Newsletter</h5>
          <div id="mc_embed_signup">
            <form action="//leaguehero.us12.list-manage.com/subscribe/post?u=10d3864be1f2576e3c4af4f2c&amp;id=c936e347ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <label for="mce-EMAIL">Please enter your email address to receive our newsletter.</label>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required>
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_10d3864be1f2576e3c4af4f2c_c936e347ef" tabindex="-1" value=""></div>
                <button type="submit" name="subscribe" id="mc-embedded-subscribe">Sign Up</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="desktop" class="col-sm-9">
          <nav class="legal">
            <span>&copy; 2016 <strong>LEAGUE</strong>HERO</span>
            <a href="/privacy">Privacy Policy</a>
            <a href="/terms">Terms of Service</a>
          </nav>
        </div>
        <div class="col-sm-3">
          <p>Built in
            <strong>Chicago</strong>
          </p>
        </div>
      </div>
    </div>
  </footer>

  <nav id="cd-lateral-nav">
    <ul class="cd-navigation">
      <li class="item-has-children">
        <a href="#0">Services</a>
        <ul class="sub-menu">
          <li><a href="#0">Brand</a></li>
          <li><a href="#0">Web Apps</a></li>
          <li><a href="#0">Mobile Apps</a></li>
        </ul>
      </li> <!-- item-has-children -->
      <li class="item-has-children">
        <a href="#0">Products</a>
        <ul class="sub-menu">
          <li><a href="#0">Product 1</a></li>
          <li><a href="#0">Product 2</a></li>
          <li><a href="#0">Product 3</a></li>
          <li><a href="#0">Product 4</a></li>
          <li><a href="#0">Product 5</a></li>
        </ul>
      </li> <!-- item-has-children -->
      <li class="item-has-children">
        <a href="#0">Stockists</a>
        <ul class="sub-menu">
          <li><a href="#0">London</a></li>
          <li><a href="#0">New York</a></li>
          <li><a href="#0">Milan</a></li>
          <li><a href="#0">Paris</a></li>
        </ul>
      </li> <!-- item-has-children -->
    </ul> <!-- cd-navigation -->
    <ul class="cd-navigation cd-single-item-wrapper">
      <li><a href="#0">Tour</a></li>
      <li><a href="#0">Login</a></li>
      <li><a href="#0">Register</a></li>
      <li><a href="#0">Pricing</a></li>
      <li><a href="#0">Support</a></li>
    </ul> <!-- cd-single-item-wrapper -->

    <ul class="cd-navigation cd-single-item-wrapper">
      <li><a class="current" href="#0">Journal</a></li>
      <li><a href="#0">FAQ</a></li>
      <li><a href="#0">Terms &amp; Conditions</a></li>
      <li><a href="#0">Careers</a></li>
      <li><a href="#0">Students</a></li>
    </ul> <!-- cd-single-item-wrapper -->

    <div class="cd-navigation socials">
      <a class="cd-twitter cd-img-replace" href="#0">Twitter</a>
      <a class="cd-github cd-img-replace" href="#0">Git Hub</a>
      <a class="cd-facebook cd-img-replace" href="#0">Facebook</a>
      <a class="cd-google cd-img-replace" href="#0">Google Plus</a>
    </div> <!-- socials -->
  </nav>


  <script type="text/javascript">
    $(document).ready(function(){
      if ($(window).width() < 768) {
        $("#h-lh").click(function() {
          $(this).find("i.icon").toggleClass("right");
          $(this).find("i.icon").toggleClass("down");
          $("#n-lh").toggle();
        });
        $("#h-about").click(function() {
          $(this).find("i.icon").toggleClass("right");
          $(this).find("i.icon").toggleClass("down");
          $("#n-about").toggle();
        });
      }
    });
  </script>
  <% if ENV['PRODUCTION'] == "true" %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-15590127-13', 'auto');
      ga('send', 'pageview');
    </script>
  <% end %>


</body>
