<body class="lh-application">
  <header>
    <a class="logo desktop" href="/">League<span>Hero</span></a>
  </header>
  <%= yield %>
  <%= render :partial => 'layouts/footer' %>
  <%= render :partial => 'layouts/analytics' %>
</body>
