<body class="lh-application">
  <div class="league-header">
    <div class="lh-topbar"></div>
    <h1>Create a League</h1>
  </div>
  <div class="league-sign-up">
    <%= yield %>
  </div>
  <%= render :partial => 'layouts/footer' %>
  <%= render :partial => 'layouts/analytics' %>
</body>
