<div class="lh-toolbar">
  <div class="lht-img"><!-- IMG --></div>
  <div class="lht-info">
    <div class="lht-league"><%= @league.name %></div>
    <div class="lht-manager">Manager: <%= @league.admin_name %> <a href="mailto:#">email</a></div>
  </div>
</div>
